body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-image: url("https://cdna.artstation.com/p/assets/images/images/007/887/382/large/philip-gilbert-1.jpg?1509143459");
  background-size: cover;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
  position: center
}

.lineUpButton {
  background: #92c7eb;
  background-color: lightskyblue;
  position: absolute;
  left: 63%;
  top: 10px;
  display: inline-block;
  border: none;
  padding: 20px;
  width: 70px;
  border-radius: 900px;
  height: 70px;
  transition: all 0.5s;
  cursor: pointer;
  
 }
 .lineUpButton:hover
 {
  width: 75px;
  height: 75px;
  background-color: #008CBA;
  color: red;
}

.lineUpButton:active  /* use Dot here */
{   
    background:url(https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwirt4zr_qLeAhXHrVQKHfNFD7cQjRx6BAgBEAU&url=https%3A%2F%2Fwww.amazon.com%2FLightsaber-Sounds-Light-up-Around-Delivery%2Fdp%2FB01FJ3LDIA&psig=AOvVaw1-KvmPzyKqK83ZJicy2XLk&ust=1540604953422604) no-repeat;
}



.lineUpC3POs {
  background-size: cover;
  background-position: center;
  display: inline-block;
  border: none;
  padding: 20px;
  width: 70px;
  border-radius: 900px;
  height: 70px;
  transition: all 0.5s;
  cursor: pointer;
}

.musicPlayer {
position: absolute;
bottom: 0%;
}
 
.dancer{
  
  
  position:absolute;
}

.stormTrooperDancer {
  height: 25%;
  width: 10%;
  border-radius:10px;
  position: absolute;
  content: url("src/stormtrooper.gif");
  animation-duration: 5s;
  animation-name: slidein;
  /* animation-iteration-count: infinite; */
  animation-direction: alternate;
}
@keyframes slidein {
from {
  top: 200px;
  width: 10%;
  height: 10%; 
}
to {
  left: 300px;
  top: 500px;
  width: 15%;
  }
}


/* dancers */

.C3PO {  
  position:absolute;
  height: 25%;
  width: 10%;
  content: url("src/DancingC3PO.gif");
}

.C3PO:hover {
  width: 50px;
  height: 100px;
}

.SaberFight {
  height: 25%;
  width: 25%;
  position: absolute;
  content: url("src/battle.gif");
}


.disco {
  position: absolute;
  left: 50%;
  height: 15%;
  width: 10%
}